################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Samples/ConsoleApplications/.vs/ConsoleApplications/v16
